@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400&family=Prompt:wght@500&display=swap");
@import "tailwindcss";

/* main.css */

@theme {
  --font-heading: "Raleway", sans-serif;
  --font-sans: "Roboto", sans-serif;
  --font-ui: "Prompt", sans-serif;
}

/* Styles globaux */

@layer base {
  h1 {
    @apply font-heading font-bold mb-4 text-gray-900 text-3xl md:text-4xl lg:text-5xl;
  }

  h2 {
    @apply font-heading font-semibold mb-6 text-gray-700 text-2xl md:text-3xl lg:text-4xl;
  }

  h3 {
    @apply font-heading font-medium mb-2 text-gray-700 text-xl md:text-xl lg:text-2xl;
  }

  p {
    @apply font-sans text-gray-600 text-base md:text-lg mb-4;
  }
}

/* Composants Tailwind */
@layer components {
  /* ===== Sous-titre Hero ===== */
  .subtitle {
    @apply font-ui font-medium text-gray-900 text-lg md:text-xl mb-2 leading-snug;
  }

  /* ===== Boutons ===== */
  .btn {
    @apply rounded-3xl transition-colors duration-200 text-center font-ui font-medium flex items-center justify-center;
  }

  /* Variantes */
  .btn-primary {
    @apply bg-cyan-600 text-white hover:bg-cyan-800;
  }

  .btn-secondary {
    @apply border border-cyan-600 text-cyan-600 hover:bg-cyan-600 hover:text-white;
  }

  /* Tailles */
  .btn-normal {
    @apply px-6 py-3 text-sm md:text-base transition-transform duration-200 hover:scale-105;
  }

  .btn-sm {
    @apply px-3 py-1.5 text-sm sm:px-4 sm:py-2 transition-transform duration-200 hover:scale-105;
  }

  /* ===== Cartes pour galerie de projets ===== */
  .card {
    @apply bg-gray-100 shadow-md rounded-lg overflow-hidden flex flex-col;
  }

  .cursor-left {
    @apply cursor-auto; /* fallback */
    cursor: url("/cursor/chevron-left-48.cur"), auto;
  }

  .cursor-right {
    @apply cursor-auto; /* fallback */
    cursor: url("/cursor/chevron-right-48.cur"), auto;
  }
}
