@import "tailwindcss";

/* main.css */

@theme {
  --font-heading: "Raleway", sans-serif;
  --font-sans: "Roboto", sans-serif;
  --font-ui: "Prompt", sans-serif;
}

/* Styles globaux */

@layer base {
  h1 {
    @apply font-heading font-bold mb-4 text-gray-900 text-4xl md:text-5xl lg:text-6xl;
  }

  h2 {
    @apply font-heading text-center font-semibold mb-6 lg:mb-8 text-gray-700 text-2xl md:text-3xl lg:text-4xl;
  }

  h3 {
    @apply font-heading font-medium mb-2 text-gray-700 text-xl md:text-xl lg:text-2xl;
  }

  p {
    @apply font-sans text-gray-600 text-base md:text-lg mb-4;
  }
}

/* Composants Tailwind */
@layer components {
  /* ===== Sous-titre Hero ===== */
  .subtitle {
    @apply font-ui lg:text-start font-medium text-gray-900 text-xl md:text-3xl mb-2 leading-snug;
  }

  /* ===== Boutons ===== */
  .btn {
    @apply rounded-3xl transition-colors duration-200 text-center font-ui font-medium flex items-center justify-center;
  }

  /* État disabled */
  .btn:disabled {
    @apply opacity-50 cursor-not-allowed;
  }

  /* Variantes */
  .btn-primary {
    @apply bg-cyan-700 text-white hover:bg-cyan-800;
  }

  .btn-secondary {
    @apply border border-cyan-700 text-cyan-700 hover:bg-cyan-700 hover:text-white;
  }

  /* Tailles */
  .btn-normal {
    @apply px-6 py-3 text-sm md:text-base transition-transform duration-200 hover:scale-105;
  }

  .btn-sm {
    @apply px-3 py-1.5 text-sm sm:px-4 sm:py-2 transition-transform duration-200 hover:scale-105;
  }

  /* ===== Labels de formulaire ===== */
  .form-label {
    @apply block text-sm font-medium;
  }

  /* ===== Inputs et Textarea ===== */
  .form-input {
    @apply bg-cyan-50 mt-1 w-full rounded-md border border-gray-300 px-4 py-2 focus:outline-none focus:ring-2 focus:ring-cyan-600;
  }

  /* ===== Cartes pour galerie de projets ===== */
  .card {
    @apply bg-gray-100 shadow-md rounded-lg overflow-hidden flex flex-col;
  }

  .cursor-left {
    @apply cursor-auto; /* fallback */
    cursor: url("/cursor/chevron-left-48.cur"), auto;
  }

  .cursor-right {
    @apply cursor-auto; /* fallback */
    cursor: url("/cursor/chevron-right-48.cur"), auto;
  }
}
